/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  background: none;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.navbar li {
  margin: 20px;
}
.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
.mp10 {
  margin: 10px;
  padding: 10px;
}
.center-text {
  text-align: center;
}
.select {
  border: 1px solid red;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
nav ul li {
  margin: 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
.top-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
}
.top-content h1 {
  font-size: 2.25rem;
  font-weight: 600;
  font-family: Helvetica, Tahoma, Arial, Verdana;
  margin: 10px;
  padding: 10px;
}
.top-content p {
  font-size: 1.6rem;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.top-content button {
  margin: 10px;
  padding: 10px;
}
.work-experience {
  /* Variables
	================================== */
  /* Tables
	================================== */
  /* Table column sizing
	================================== */
  /* Page styling
	================================== */
}
.work-experience .Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.work-experience .Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  background: rgba(112, 128, 144, 0.2);
}
.work-experience .Rtable-cell > h1,
.work-experience .Rtable-cell > h2,
.work-experience .Rtable-cell > h3,
.work-experience .Rtable-cell > h4,
.work-experience .Rtable-cell > h5,
.work-experience .Rtable-cell > h6 {
  margin: 0;
}
.work-experience .Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.work-experience .Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.work-experience .Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.work-experience .Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.work-experience .Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3aZQNVED7rKGKxtqIqX5EUDXx9.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3FZQNVED7rKGKxtqIqX5Ectllte10k.ttf) format('truetype');
}
.work-experience html {
  height: 100%;
  background-color: #EEE;
}
.work-experience body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  max-width: 800px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border: double 3px #DDD;
  border-top: none;
  border-bottom: none;
}
.work-experience h1,
.work-experience h2,
.work-experience h3,
.work-experience h4,
.work-experience h5,
.work-experience h6 {
  margin-top: 0;
}
.work-experience h3 {
  font-size: 1.2em;
}
.work-experience h4 {
  font-size: 1em;
}
.work-experience strong {
  color: #434d57;
}
